@import "./assets/styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-sans text-dark bg-light m-0 p-0 scroll-smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-dark;
  }

  
}

@layer components {
  .auth-input {
    @apply
      w-full
      px-4
      py-3
      border
      border-gray-300
      rounded-lg
      text-sm
      md:text-base
      font-sans
      focus:outline-none
      focus:ring-2
      focus:ring-secondary
      focus:border-secondary;
  }
}
